#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+pie,+bindnow

%:
	dh $@

override_dh_fixperms:
# Ubuntu enables unprivileged user namespaces; no need for bwrap to be suid
# there.
ifneq (yes,$(shell dpkg-vendor --derives-from Ubuntu && echo yes))
	chmod 04755 $(PKGDIR)/usr/bin/bwrap
	dh_fixperms -Xbin/bwrap
else
	dh_fixperms
endif

.PHONY: override_dh_fixperms
