Source: opam
Section: ocaml
Priority: optional
Maintainer: Anil Madhavapeddy <anil@recoil.org>
Build-Depends: debhelper (>= 9), build-essential
Standards-Version: 3.9.8
Homepage: https://opam.ocaml.org
Vcs-Git: https://github.com/ocaml/opam.git
Vcs-Browser: https://github.com/ocaml/opam.git

Package: opam
Architecture: all
Depends: ${misc:Depends}
Description: opam is a source-based package manager for OCaml.
  It supports multiple simultaneous compiler installations,
  flexible package constraints, and a Git-friendly development
  workflow.
